/* GoogleMapComp.css */
.map-container {
  }
  
  .sidebar {
    position: absolute;
    width: 33%;
    height: 66%;
    left: 2%;
    top: 18%;
    padding: 20px;
    background: white;
  }
  
  .map-style {
    width: 60%;
    height: 70%;
    top: 18%;
    position: absolute;
    left:40%;
  }
  
  .info-box {
    background: white;
    border: 3px solid black;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  .sidebar-info{
    padding: 10px;
    width: auto;
  }
  @media (max-width: 768px) {
    .sidebar {
        left: 30px;
        top:20px;
        border: none;
    }

    .map-style {
        top: 450px;
        left: 0px;
        height: 50%;
        width: 100%;
    }
  }