.content-box-container2 {
    font-family: 'Urbanist', sans-serif;
    color: black;
    background-color: #fcfeff;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
    min-height: 200px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.2s;
    cursor: pointer;
    box-sizing: border-box;
    transform: scale(1); /* Start at normal size */
}

.content-box-container2:hover {
    color: white;
    transform: scale(1.05); /* Scale up when hovered */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3); /* Larger shadow for better effect */
}
  
.content-box2 {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}


@media (max-width: 768px) {
    .content-box-container2 {
        max-width: 100%;
    }
    .content-box-container2:hover {
        color: white;
        transform: scale(1.02); /* Scale up when hovered */
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3); /* Larger shadow for better effect */
    }
}
