.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.9);
    padding: 6px 60px; /* Adjusted padding for better spacing */
    top: 0; /* Aligns the navbar to the top */
    width: 100%; /* Ensures the navbar spans the full width of the viewport */
    z-index: 1000; /* Ensures the navbar stays above other content */
    transition: padding 0.3s ease, background-color 0.3s ease;
}

/* Smaller navbar size after scrolling */
.navbar-shrink {
    padding: 1px 60px;
    background-color: rgba(255, 255, 255, 0.95 );
}

.navbar-logo img {
    height: 50px; /* Adjust as per your logo's size */
}

.navbar-links {
    list-style: none;
    display: flex;
    margin-right: 4%; /* Increased margin for more separation */
    padding: 0;
}

.navbar-links li {
    padding: 0 50px; /* Increased padding between links */

}

.navbar-links li a {
    font-family: "Source Sans 3", sans-serif;
    position: relative;
    text-decoration: none;
    color: #577C8E;
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects and color */
    font-size: 22px;
    overflow: hidden;
    font-weight: 400;
    font-weight: 600;
    line-height: 40.22px;
}

.navbar-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #577C8E;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left center;
}

.navbar-links li a:hover,
.navbar-links li a:focus {
    color: #333; /* Change color on hover */
}

.navbar-links li a:hover::after,
.navbar-links li a:focus::after {
    transform: scaleX(1);
}

.navbar-links li a.active::after {
    transform: scaleX(1);
}

.navbar-links li a.active:hover::after {
    transform: scaleX(1); /* Keep the underline on the active link even on hover */
}

.navbar-links li a.active,
.navbar-links li a.active:hover,
.navbar-links li a.active:focus {
    color: #577C8E; /* Active link color */
}

/* Responsive styles */
.hamburger {
    display: none; /* Hidden by default */
    cursor: pointer;
    font-size: 24px; /* Adjust based on your preference */
    position: absolute;
    right: 30px; /* Adjusted position to bring it slightly left */
    background: transparent;
    border: none;
    color: #333; /* Change color to ensure visibility against your navbar background */
    z-index: 1010; /* Make sure it's above other content */
}

/* Styles to make the navbar links expandable for mobile */
@media (max-width: 895px) {
    .hamburger {
        display: block; /* Show hamburger icon on smaller screens */
        right: 100px; /* Adjusted for smaller screens */
    }

    .navbar {
        padding: 20px 30px; /* Adjust padding for mobile screens */
    }
    
    .navbar-shrink {
        padding: 10px 30px;
        background-color: rgba(255, 255, 255, 0.95);
    }
    
    .navbar-links {
        display: none; /* Hide the links initially */
        position: fixed;
        height: 100%; /* Full height for better dropdown effect */
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(243, 243, 243, 0.9); /* Adjust the background to match your navbar */
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 60px; /* Add padding to top to avoid overlay with the hamburger icon */
        width: 100%; /* Full width */
        z-index: 1005; /* Ensure it appears above other content but below the hamburger */
        transition: all 0.3s ease; /* Smooth transition */
    }

    .navbar-links.expanded {
        display: flex; /* Show the links when hamburger is clicked */
    }

    .navbar-links li {
        width: 100%; /* Full-width list items */
        text-align: center; /* Center-align the links */
        padding: 10px 0;
    }

    .navbar-links li a {
        display: block; /* Make the links fill the li for easier click */
        font-size: 18px; /* Adjust font size for mobile */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Adjustments for tablets or smaller desktop screens */
    .navbar-links li {
        padding: 0 40px; /* More space between links for tablets */
    }
}

/* More media queries can be added for larger screens */
