.ProgressBarContainer {
    position: relative;
    width: 25%;
    bottom: 1%;
    height: 2px;
    background-color: rgb(185, 185, 185);
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
}

.ProgressBar {
    height: 100%;
    background-color: #ffffff;
    transform-origin: center;
    animation: stretch 10.8s ease-in-out forwards; 
}

@keyframes stretch {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .ProgressBarContainer {
        width: 50%;
    }
}
