.ProgressBarContainer {
    position: relative;
    width: 25%;
    bottom: 1%;
    height: 2px;
    background-color: rgb(185, 185, 185);
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
}

.ProgressBar {
    height: 100%;
    background-color: #ffffff;
    transform-origin: center;
    animation: stretch 12s ease-in-out forwards; 
}

@keyframes stretch {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@media (max-width: 1640px) {
    .ProgressBarContainer {
        width: 30%;
    }
}
@media (max-width: 1060px) {
    .ProgressBarContainer {
        width: 45%;
    }
}
@media (max-width: 1040px) {
    .ProgressBarContainer {
        width: 50%;
    }
}
@media (max-width: 500px) {
    .ProgressBarContainer {
        width: 60%;
    }
    @media (max-width: 430px) {
        .ProgressBarContainer {
            width: 70%;
        }
    }
}
