.heroContainer {
    position: relative;
    width: 100%; /* Ensure full width */
    height: 100vh; /* Adjust height dynamically through props */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
@keyframes slideInFromBottom {
    from {
        transform: translateY(20%); /* Start from below */
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.heroText{
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
    max-width: 50%;
    color: rgb(0, 0, 0); /* Ensure visibility against backgrounds */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow for better readability */
    opacity: 0; /* Start invisible for animation */
    animation: slideInFromBottom 0.8s ease-out forwards;
    padding-bottom: 2%;
}
.heroSubText{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    max-width: 66%;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0; /* Start invisible for animation */
    animation: slideInFromBottom 0.8s ease-out forwards;
}
.heroText, .heroSubText {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-bar-play {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-bar-container {
    flex-grow: 1;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-bar {
    height: 100%;
    background-color: #839ebd;
    transition: width 4.5s linear;
}

@media (max-width: 768px) {
    .heroText, .heroSubText {
        max-width: 75%;
    }
}
