.Container {
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    padding-top: 40%;
    width: 90%;
    text-align: center;
    font-size: 2rem;
    font-family: 'Playfair Display';
  }