.Container {
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    padding-top: 38%;
    width: 90%;
    text-align: center;
    font-size: 1rem;
    font-family: 'Playfair Display';
  }