
.background {
    height: 70%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background.visible {
    opacity: 1;
  }
  
  .hero-text {
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin: 0.5em 0;
    text-align: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    max-width: 600px;
    position: absolute;
    top: 30%; /* Adjust this value to move the text up or down */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .hero-text.visible {
    opacity: 1;
  }
  
  .hero-dot-play {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30%; /* Adjust this value to move the dots closer to the text */
  }
  
  .hero-dots {
    list-style: none;
    padding: 0;
    display: inline-block;
  }
  
  .hero-dot {
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .hero-dot.orange {
    background: orangered;
  }