.background-image {
    min-height: 150vh;
    position: absolute;
    top: 0px; /* Initial top position */
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../pictures/blankUS.svg');
    background-repeat: no-repeat;
    background-size:auto; /* or 'contain' based on your desired effect */
    padding-top: 50px;
    background-position: center 0px;
    z-index: -1; /* Ensure it's behind the content */
  }
  
  .awards-container {
    /* ... other styles ... */
    position: relative; /* Needed for absolute positioning of the background div */
    overflow: hidden; /* Ensures the background div is clipped to the container's bounds */
    padding-bottom: 150px;
  }
  
  
  .awards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Set the grid row gap to create the horizontal line */
    grid-row-gap: 2px;
    /* Adjust the width as needed */
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .award-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Remove padding and background to overlay the text on the background image */
    padding: 5px;
    padding-bottom: 20px;
  }
  
  /* Add a right border for the vertical lines, except for the last item in a row */
  .award-card:not(:nth-child(3n)) {
    border-right: 2px solid #b8b8b8;
  }
  
  /* Add a top border to all items except those in the first row */
  .award-card:nth-child(n+4) {
    border-top: 2px solid #b8b8b8;
  }
  
  .award-number {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: transparent; /* Make the text color transparent */
    -webkit-text-stroke: 2px rgb(36, 112, 140); /* Apply a 2px stroke */
    transition: margin-right 2s;
  }
  
  .award-description {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .award-logo {
    /* If logos are present in the design, add them here */
  }
  @media (max-width: 1200px) {
    .awards-grid {
        max-width: auto;
        min-width: 0px;
    }
    .background-image{
        background-size: contain;
    }
  }
  @media (max-width:660px){
    .awards-container{
        padding-bottom: 100px;
    }
    .awards-grid{
        grid-template-columns: none;
    }
    .award-number{
        padding: 0;
        font-size:40px;
    }
    .award-card:not(:nth-child(3n)) {
        border: none;
    }
    .award-card:nth-child(n+4) {
        border: none;
      }
  }