.threeCardSection {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px 0 200px 0;
}

.sectionTitle {
  margin-bottom: 80px;
  font-size: 40px;
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: 600;
  line-height: 70.65px;
  color: #2F4157;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 32px;
}

.card {
  background-color: #f7f9fc;
  border-radius: 8px;
  padding: 32px;
  flex: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.iconWrapper {
  margin-bottom: 32px;
  padding: 20px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.cardTitle {
  margin-bottom: 32px;
  margin-top: 0;
  color: #36454F;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 42.23px;
  text-align: left;
}

.cardDescription {
  color: #36454F;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.17px;
  text-align: left;
  margin-bottom: 32px;
  margin-top: 0;
  flex-grow: 1;
}

.learnMore {
  color: #2F4157;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: 'Source Sans 3';
  font-size: 24px;
  font-weight: 700;
  line-height: 30.17px;
  text-align: left;
  align-self: flex-start;
  padding-bottom: 32px;
}

.learnMore:hover {
  color: #0056b3;
}

@media screen and (max-width: 1200px) {
  .cardContainer {
    flex-wrap: wrap;
  }

  .card {
    flex-basis: calc(50% - 20px);
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 768px) {
  .threeCardSection {
    max-width: 90%;
  }

  .sectionTitle {
    font-size: 42px;
    margin-bottom: 60px;
    line-height: 56px;
  }

  .cardContainer {
    gap: 20px;
  }

  .card {
    flex-basis: 100%;
    padding: 48px; /* Doubled from 24px */
  }

  .cardTitle {
    font-size: 28.8px;
    line-height: 36px;
  }

  .cardDescription,
  .learnMore {
    font-size: 19.2px;
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .threeCardSection {
    max-width: 95%;
  }

  .sectionTitle {
    font-size: 28.8px;
    margin-bottom: 64px;
    line-height: 38.4px;
  }

  .card {
    padding: 32px;
  }

  .cardTitle {
    font-size: 24px;
    line-height: 30.4px;
  }

  .cardDescription,
  .learnMore {
    font-size: 16px;
    line-height: 20.8px;
  }

  .iconWrapper {
    width: 60px;
    height: 60px;
    padding: 30px; /* Doubled from 15px */
  }
}
