.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: grey;
}



.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}

.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: #faeded;
    color: #262626;
}