.footer-container {
    width: 100%;
    padding: 5px 0;
    color: #003366;
    background-color: rgb(247, 247, 247);
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003366;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
  }
  
  .link-parent {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 80px;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-section.company-info {
    margin-top: 20px; /* Adjust this value to lower the logo */
  }
  
  .footer-section h3,
  .footer-section h4 {
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #003366;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-credits {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.875rem;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      margin-bottom: 20px;
      align-items: center;
    }
  
    .footer-credits {
      flex-direction: column;
      align-items: center;
    }
  }
  