.Container {
    padding: 0;
    width: 80%;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
  }