.Container {
    margin: 24px auto 0;
    padding: 0;
    width: 80%;
    text-align: center;
    font-size: 2rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    color: white;
  }