.contact-container {
    display: flex;
    flex-direction: row; /* Ensures horizontal layout on larger screens */
    width: 100vw;
    height: 100vh;
}

.form-section {
    flex: 1;
    background-color: #adadad; /* Gray for the form side */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: relative;
    z-index: 1; /* Ensures form is above the map at the overlap */
}

.map-section {
    flex: 1;
    position: relative;
    left: -5%; /* Adjust according to your layout */
    z-index: 9;
}

@media (max-width: 768px) {
    .contact-container {
        display: grid;
        height: auto; /* Adjust height for stacked layout */
    }
    .form-section {}
    .map-section {
       height: 900px;
       left: 0;
       padding: 0;
    }
}

