.content-box-container {
    color: white;
    padding: 20px;
    background: #b7cddc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    max-width: 1000px; /* Default width */
    min-height: 200px;
    width: auto;
    transition: height 0.3s ease, background-color 0.2s;
    cursor: pointer; /* Change cursor on hover to indicate it's clickable */
  }
  
  .content-box-container:hover {
    background-color: #f0f0f0; /* Slight background change on hover */
  }
  
  .content-box {
    max-height: 500px; /* Default max height */
    overflow-y: auto;
  }

  @media (max-width: 768px) {
    .content-box-container {
        max-width: 400px;
    }
  }