.content-box-container {
    
    color: black;
    background-color: #fcfeff; /* Slight background change on hover */
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
    min-height: 200px;
    width: 400px;
    transition: height 0.3s ease, background-color 0.2s;
    cursor: pointer;
    box-sizing: border-box; /* Ensures padding is included in width calculation */
}
  
  .content-box-container:hover {
    
    color: white;
    background: #839ebd;
  }
  
  .content-box {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100%; /* Ensure it takes up all available horizontal space within the container */
}

@media(min-width: 894px) and (max-width: 1334.55px) {
    .content-box-container {
        width: 700px; /* Allows the container to use full width on smaller screens */
    }
}
@media (max-width: 768px) {
    .content-box-container {
        max-width: 100%; /* Allows the container to use full width on smaller screens */
    }
}