.stepper-container {
    width: 100%;
    z-index: 10;
  }
  
  .context-text {
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center; /* Keep the text centered horizontally */
    margin-top: 25px;
    margin-bottom: 8px;
    font-size: 15px;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0);
    font-weight: 500;
    font-family: "Sofia Sans", sans-serif !important;
  }
  
  .context-text p {
    color: white;
    margin: 8px 0; /* Add space between each paragraph */
    line-height: 1.6; /* Adjust line height for readability */
    display: block; /* Ensure each paragraph is treated as a block element */
    text-align: center; /* Center the content inside each paragraph */
    font-size: 25px;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0);
    font-weight: 500;
    font-family: "Sofia Sans", sans-serif !important;
  }
  .button-container {
    display: flex;
    justify-content:space-around;
    gap: 8px;
    padding-top: 16px;
    z-index: 20; /* Make sure buttons are above other content */
    position: relative; /* Ensure proper stacking context */
  }
  
  .completed-text {
    margin-top: 25px;
    margin-bottom: 8px;
    font-size: 25px;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0);
    font-weight: 500;
    font-family: "Sofia Sans", sans-serif !important;
  }
  
  .MuiStepLabel-label {
  color: #999; /* Default color */
}

.Mui-active .MuiStepLabel-label {
  color: #5aff60; /* Active step color */
}

.Mui-completed .MuiStepLabel-label {
  color: #eaeaf0; /* Completed step color */
}