.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 0; /* Consistent padding for top and bottom */
  }
  
  .services-section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px; /* Default padding for larger screens */
  }
  
  .services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative; /* To position the pseudo-element */
  }
  
  .services-header h2 {
    margin: 0;
    padding-bottom: 10px;
  }
  .services-header h2::after {
    content: '';
    display: block;
    width: 100%; /* Line width */
    height: 2px; /* Line thickness */
    background-color: #839ebd; /* Line color */
    position: absolute;
    left: 0;
    bottom: 0; /* Position the line at the bottom of the header */
  }
  .all-services {
    text-decoration: none;
    color: #839ebd;
    align-self: flex-end; /* Ensures the link aligns to the bottom of the parent */
    padding-bottom: 12px;
  }
  
  .service-points {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px; /* Space above service points */
  }
  
  .service-point {
    flex-basis: calc(25% - 20px); /* Adjust width based on spacing */
    margin: 10px;
    text-align: left;
  }
  
  .service-point h3 {
    margin-top: 0;
    color: #333;
  }
  
  .service-point p {
    color: #666;
  }
  
  .service-point a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .service-point a:hover,
  .service-point a:focus {
    color: #0056b3;
  }
  
  /* Media query for larger screens where the gap needs to be smaller */
  @media (min-width: 1024px) {
    .services-section {
      padding-top: 0; /* Smaller padding-top for larger screens */
    }
  }
  
  /* Media query for tablets and smaller desktop screens */
  @media (max-width: 1024px) {
    .service-points {
      justify-content: space-around;
    }
  
    .service-point {
      flex-basis: calc(50% - 20px); /* Adjust for tablet view */
    }
  }
  
  /* Media query for mobile screens */
  @media (max-width: 768px) {
    .services-header {
      flex-direction: column;
      align-items: center;
    }
  
    .services-header h2,
    .all-services {
      margin-top: 10px;
    }
  
    .service-points {
      flex-direction: column;
      align-items: center;
    }
  
    .service-point {
      width: 100%; /* Full width on mobile */
    }
    
    .services-section {
      padding-top: 80px; /* Increased padding-top for mobile to avoid overlap */
    }
  }
  