.parallax-background {
    position: relative;
    z-index: 1;
}

.parallax-background::before {
    content: '';
    position: static;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../pictures/svgmap2.png');
    background-size: 80%; 
    background-position: center bottom;
    background-repeat: no-repeat;
    opacity: 0.09;
    z-index: -1; 
}
