.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}   
.infoSectionWrapper{
    display: flex;
    flex-shrink: 0;
    width: 100%;
}